* {
  box-sizing: border-box;
}

body {
  background-color: white;
  padding: 0;
  margin: 0;
}

h1, h2, h3 {
  font-family: 'Prociono';
}

#home-heads {
  text-align: center;
}

#home-heads img {
  width: 40%;
  display: block;
  margin: 0 auto;
  border-radius: 100%;
}

#greeting {
  background-color: black;
  color: white;
  font-size: 5rem;
  margin-top: 0;
  margin-bottom: 2rem;
}

#welcome {
  font-size: 3rem;
  margin-top: 0;
}
